:root {
  --currencyFromColor: #376ef1;
  --currencyToColor: #385fc7;
  --arrowSize: 15px;
}

.wrapper {
  height: 100%;
  background-color: var(--currencyToColor);
}

.currencyFrom {
  position: relative;
}

.currencyFrom::after {
  content: "";
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-top: var(--arrowSize) solid var(--currencyFromColor);
  position: absolute;
  bottom: calc(-1 * var(--arrowSize));
  left: calc(50% - var(--arrowSize));
  z-index: 5;
}

.currencyTo {
  background-color: var(--currencyToColor);
}

@media screen and (min-width: 600px) {
  .currencyFrom,
  .currencyTo,
  .controlPanel {
    position: relative;
    left: calc(50% - 250px);
    max-width: 500px;
  }
}

.currencyFromWrapper {
  background-color: var(--currencyFromColor);
}

.currencyToWrapper {
  background-color: var(--currencyToColor);
}

.controlPanel {
  height: 35px;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--currencyFromColor);
}

.controlPanel button {
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: 300;
}

.controlPanel button:disabled {
  color: gray;
}

.rate {
  background-image: rgba(51, 51, 51, 0.6);
  border: 1px solid #8fa7e9;
  border-radius: 5px;
  padding: 0 5px;
  min-width: 90px;
  display: flex;
  justify-content: center;
}
