.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.mainValues,
.additionalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainValues {
  font-size: 40px;
  line-height: 42px;
  font-weight: 100;
  margin-bottom: 10px;
}

.additionalInfo {
  font-size: 13px;
  line-height: 20px;
  color: #c4c9e3;
}
