.inputValue {
  display: block;
  width: 100%;
  background-color: inherit;
  border: 0;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: right;
  margin-left: 10px;
  overflow-x: scroll;
}
